.maincolor{
    color: rgb(247, 231, 231);
    background-color: black;
    
}


.navbar ul{
    list-style-type: none;
    background-color: rgb(40, 40, 40);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}


.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}

.navbar li{
    float: left;
}

body{
    margin: 0px;
}

.links{
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    margin: 20px;
    text-align: center;
    text-decoration:none;
    font-size: 35px;
}

.links:hover{
        background-color: rgba(66, 65, 65, 0.308);

}


p {
    max-width: 700px;     
    line-height: 1.6;     
    font-size: 1rem;      
    margin: 20px ;
}

.navbar a.active{
    background-color: hsl(0, 0%, 5%);

}

h1{
    text-align: center;
}